<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.dao.CategoryMapper">
    <resultMap id="categoryResultMap" type="com.itcast.entity.Category">
      <id property="id" column="id"/>
      <result property="parentId" column="parent_id"/>
      <result property="name" column="name"/>
      <result property="level" column="level"/>
    </resultMap>

    <sql id="col">id,parent_id,name,level</sql>

    <select id="findAll" parameterType="java.lang.Long" resultMap="categoryResultMap">
     SELECT <include refid="col"/>
     FROM t_category
     WHERE FIND_IN_SET(id, getChild(#{id}))
    </select>


</mapper>
